### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [100]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [101]:
unique_players = purchase_data['SN'].nunique()
players_df = pd.DataFrame({
    'Players': [unique_players]
})
players_df

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
unique_items = purchase_data['Item Name'].nunique()
ave_price = purchase_data['Price'].mean()
total_sales = purchase_data['Price'].sum()
salesummary_df = pd.DataFrame({
    'Unique Items': [unique_items],
    'Average Sale Price': [ave_price],
    'Total Sales': [total_sales]
})
salesummary_df.style.format({"Average Sale Price": "${:20,.2f}",
                            "Total Sales": "${:20,.0f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [103]:
unique_players_df = purchase_data.filter(['SN', 'Gender'])
unique_players_gender = unique_players_df.drop_duplicates(subset='SN', keep='last')
male_data = unique_players_gender[unique_players_gender["Gender"] == "Male"].count()["Gender"]
female_data = unique_players_gender[unique_players_gender["Gender"] == "Female"].count()["Gender"]
nondisclose_data = unique_players - male_data - female_data
per_male = male_data / unique_players * 100
per_female = female_data / unique_players * 100
per_non = nondisclose_data / unique_players * 100
raw_df_data = {
    'Number of Players': [male_data, female_data, nondisclose_data],
    'Percentage of Players': [per_male, per_female, per_non]
}
gender_df = pd.DataFrame(raw_df_data, index = ['Male', 'Female', 'Other / Non-Disclosed'])
gender_df.style.format({"Percentage of Players": "{:20,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
gender_purchase_df = purchase_data.filter(['SN', 'Gender', 'Price'])
male_purchase_count = gender_purchase_df[gender_purchase_df["Gender"] == "Male"].count()["SN"]
male_purchase_sum = gender_purchase_df[gender_purchase_df["Gender"] == "Male"].sum()["Price"]
male_purchase_avg = male_purchase_sum / male_purchase_count
female_purchase_count = gender_purchase_df[gender_purchase_df["Gender"] == "Female"].count()["SN"]
female_purchase_sum = gender_purchase_df[gender_purchase_df["Gender"] == "Female"].sum()["Price"]
female_purchase_avg = female_purchase_sum / female_purchase_count
other_purchase_count = gender_purchase_df[gender_purchase_df["Gender"] == "Other / Non-Disclosed"].count()["SN"]
other_purchase_sum = gender_purchase_df[gender_purchase_df["Gender"] == "Other / Non-Disclosed"].sum()["Price"]
other_purchase_avg = other_purchase_sum / other_purchase_count
df_data = {
    'Purchase Count': [male_purchase_count, female_purchase_count, other_purchase_count],
    'Average Purchase': [male_purchase_avg, female_purchase_avg, other_purchase_avg],
    'Total Purchase': [male_purchase_sum, female_purchase_sum, other_purchase_sum]
}
gender_analysis_df = pd.DataFrame(df_data, index = ['Male', 'Female', 'Other / Non Disclosed'])
gender_analysis_df.style.format({"Average Purchase":"${:20,.2f}", "Total Purchase":"${:20,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [105]:
age_df = purchase_data.filter(['SN', 'Age'])
age_df.drop_duplicates(subset='SN', keep='last')
age_bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df["Age Group"] = pd.cut(age_df["Age"], age_bins, labels=age_labels)
age_10 = age_unique_df[age_unique_df["Age Group"] == "<10"].count()["SN"]
age_14 = age_unique_df[age_unique_df["Age Group"] == "10-14"].count()["SN"]
age_19 = age_unique_df[age_unique_df["Age Group"] == "15-19"].count()["SN"]
age_24 = age_unique_df[age_unique_df["Age Group"] == "20-24"].count()["SN"]
age_29 = age_unique_df[age_unique_df["Age Group"] == "25-29"].count()["SN"]
age_34 = age_unique_df[age_unique_df["Age Group"] == "30-34"].count()["SN"]
age_39 = age_unique_df[age_unique_df["Age Group"] == "35-39"].count()["SN"]
age_40 = age_unique_df[age_unique_df["Age Group"] == "40+"].count()["SN"]
age_10_per = age_10 / unique_players * 100
age_14_per = age_14 / unique_players * 100
age_19_per = age_19 / unique_players * 100
age_24_per = age_24 / unique_players * 100
age_29_per = age_29 / unique_players * 100
age_34_per = age_34 / unique_players * 100
age_39_per = age_39 / unique_players * 100
age_40_per = age_40 / unique_players * 100
age_demo = {
    'Count of Players': [age_10, age_14, age_19, age_24, age_29, age_34, age_39, age_40],
    'Percentage of Players': [age_10_per, age_14_per, age_19_per, age_24_per, age_29_per, age_34_per, age_39_per, age_40_per]
}
age_demo_df = pd.DataFrame(age_demo, index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'])
age_demo_df.style.format({"Percentage of Players":"{:20,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [106]:
age_pur_df = purchase_data.filter(['SN', 'Age', 'Price', 'Purchase ID'])
age_pur_df["Age Group"] = pd.cut(age_pur_df["Age"], age_bins, labels=age_labels)

age_pur_group = age_pur_df.groupby(['Age Group']).agg({'Price':'sum', 'Purchase ID':'count'})
age_pur_group['Average Purchase'] = age_pur_group['Price']/age_pur_group['Purchase ID']
age_rename = age_pur_group.rename(columns={"Price": "Total Spend", "Purchase ID": "Purchase Count"})

age_rename.style.format({"Total Spend":"${:20,.0f}", "Average Purchase":"${:20,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [107]:
top_buyer_df = purchase_data.filter(['SN', 'Price'])
top_buyer_df["Price"] = pd.to_numeric(top_buyer_df["Price"], downcast="float")
top_buyercon_df = top_buyer_df.groupby(['SN']).agg({'Price':'sum', 'SN':'count'})

top_buyer_format = top_buyercon_df.rename(columns={"Price": "Total Spend", "SN": "Purchase Count"})
top_buyer_format['Average Purchase'] = top_buyer_format['Total Spend']/top_buyer_format['Purchase Count']
top_buyer_sort = top_buyer_format.sort_values(by='Total Spend', ascending=False)
top_buyer_final = top_buyer_sort.head().style.format({"Total Spend":"${:20,.2f}", "Average Purchase":"${:20,.2f}"})
top_buyer_final

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [108]:
top_items_df = purchase_data.filter(['Item ID', 'Item Name', 'Price'])
top_items_df["Price"] = pd.to_numeric(top_buyer_df["Price"], downcast="float")
top_itemscon_df = top_items_df.groupby(['Item ID', 'Item Name']).agg({'Price':'sum', 'Item Name':'count'})
top_itemscon_df['Item Price'] = top_itemscon_df['Price']/top_itemscon_df['Item Name']


top_rename = top_itemscon_df.rename(columns={"Item Name": "Item Count", "Price": "Total Purchase"}) 
top_rename_final = top_rename.sort_values(by='Item Count', ascending=False)
top_rename_final.head().style.format({"Total Purchase": "${:20,.2f}", "Item Price": "${:20,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [109]:
top_items_df = purchase_data.filter(['Item ID', 'Item Name', 'Price'])
top_items_df["Price"] = pd.to_numeric(top_buyer_df["Price"], downcast="float")
top_itemscon_df = top_items_df.groupby(['Item ID', 'Item Name']).agg({'Price':'sum', 'Item Name':'count'})
top_itemscon_df['Item Price'] = top_itemscon_df['Price']/top_itemscon_df['Item Name']
top_item_sort = top_itemscon_df.sort_values(by='Price', ascending=False)

top_final = top_item_sort.rename(columns={"Item Name": "Purchase Count", "Price": "Total Purchase Value"})
top_final.head().style.format({"Total Purchase Value":"${:20,.2f}", "Item Price":"${:20,.2f}"})